*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.main{
 width: 100%;
 height: 100vh;
 background-color: rgba(253, 208, 8, 0.764);
 padding: 2%;
}
.heading{
 display: flex;
 align-items: center;
}
.search{
 width: 50%;
 padding: 1%;
 display: flex;
 justify-content: space-between;
}
.search input{
 padding-right: 55%;
 background-color: rgba(52, 43, 72, 0.764); 
 border: transparent;
}
.s_icon{
 background-color:rgba(52, 43, 72, 0.764); 
 padding: 2%;
 border-radius: 5px;
}
.mic{
 background-color:rgba(52, 43, 72, 0.764); 
 padding: 2%;
 border-radius: 5px;
}
.title{
 margin-left: 5%;
 font-style: oblique;
 word-spacing: 10px;
}
.section{
 width: 100%;
 display: grid;
 grid-template-columns: auto auto;
 column-gap: 8%;
 row-gap: 5%;
 padding: 1%;
/* display: flex; */
}
.stack{
 display: flex;
 gap: 10px;
 padding:10px;
 background-color: rgba(71, 69, 77, 0.764);
}
.stack p{
  margin-left: 3%; 
}
.icon1{
 display: flex;
 align-items: center;
}
.word{
 width: 100%;
}
.box_heading{
 font-size: large;
}
.box_sub_heading{
 font-size: smaller;
}