/* Class selector  */
/* .pramod{
 background-color: aqua;
 height: 40px;
 border-top: 1px dashed red;
} */

/* Element selector */
/* p{
 background-color: aqua;
 color: red;
} */

/* 
.pramod{
 height: 40px;
 border: 1px solid black;
} */

/* h1,p,h2{
 color: red;
} */